@inherits LayoutComponentBase

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Left Menu -->
         
        </div>
        <div class="col-md-6">
            <!-- Page Content -->
            <div class="content">
                @Body
            </div>
        </div>
        <div class="col-md-3">
            <!-- Left Menu -->

        </div>
    </div>
</div>