@page "/"

<PageTitle>Index</PageTitle>

<h1>Happy company</h1>
<br/>
<div>
    <p>
        Welcome to Happy company.
    </p>
    <p>
        The Happy company is an innovative online retailer that has taken its commitment to customer satisfaction to new heights. With a global presence spanning various countries and cities, the company has strategically set up multiple warehouses to efficiently manage its extensive inventory.
    </p>
</div>

